<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SafeSpace/static/style.css">
    <title>SafespaceUG</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="container header-container">
            <div class="head-text">
            <div class="shield-icon"></div>
            <h1>SafeSpace UG</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="#works">How it works</a></li>
                <li><a href="#resources">Resources</a></li>
                <li><a href="#privacy">Privacy</a></li>
                <li><a href="#crisis">Crisis Support</a></li>
            </ul>
        </nav>
        <div class="ananymous">
            <a href="landing.html">Enter Ananymously</a>
        </div>
        </div>
    </header>
</body>
</html>
